.box {
  height: 200px;
  width: 200px;
  /* float: left; */
}
.tomato {
  float: right;
  height: 80px;
  width: 80%
}
.purple {
  float: left;
  width: 20%;
  height: 600px;
}
.gold {
  /* float: left; */
  /* clear left means start on new line after any element that has float left declaration */
  /* clear: left; */
  clear: right;
  float:right;
  width: 80%;
  height: 440px;
}
.green {
  float: right;
  /* clear: right; */
  width: 80%;
  height: 80px;
}


/* as everything is floated away from normal flow, it breaks our background */
.clearfix {
  clear: both;
}