@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* Custom properties (variables) for colours */
:root {
  /* Starbucks green */
  /* --color-primary: #006241; */

  /* blue */
  --color-primary: #3474e6;

  /* light grey */
  --color-light-grey: #f4f7fa;

  /* red */
  /* --color-secondary: #d50032; */

  /* light grey as above */
  --color-secondary: #f4f7fa;

  --color-extra: #d4e982;
}

/* 1. Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Base Styles */

/* font-sizes done in utility class */
/* background done in each section? */
html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #000;
}

/* All links black */
a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

section a {
  color: #000;
}

/* 3. Navbar */

/* grey line goes all the way, thats why we need a -container div */
.navbar {
  width: 100%;
  height: auto;
  background-color: #fff;
  /* background-color: var(--color-light-grey); */
  padding: 20px;
  /* grey line at the bottom of entire navbar */
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  /* Layout child elements horizontally */
  display: flex;
  /* Main Axis ie horizonal here */
  justify-content: space-between;
  /* Cross Axis ie vertical here */
  align-items: center;

  /* Don't want nav to go all the way left and right so will contain it after 1440 */
  max-width: 1440px;
  /* make it centered if >1440 */
  margin: 0 auto;
}

/* osr4rights logo */
.navbar-brand img {
  width: 130px;
  height: 50px;
}

/* all lists ie ul's in navbar */
.navbar ul {
  display: flex;
  /* Cross Axis ie vertical here */
  /* doesn't seem to need it todo test*/
  align-items: center;
}

/* all items in lists ie li's in navbar */
.navbar li {
  margin: 0 15px;
  /* font-weight: bold; */
}

/* all hyperlinks in navbar */
.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar-nav-left {
  /* shorthand for flex-basis, flex-grow, flex-shrink */
  /* giving navbar-nav-left element more space */
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right li:nth-child(2) a {
  color: var(--color-primary);
}
/* Try button decrease margin on left and right from 15 to 5px */
.navbar-nav-right li:nth-child(3) {
  margin: 0 5px;
}

/*  */
/* 4. Buttons (site wide utility class)*/
/*  */
/* first usage is in the navbar-nav-right */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  /* border: 1px #000 solid; */
  border: 1px var(--color-primary) solid;
  /* rounded */
  border-radius: 05px;
  padding: 9px 19px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

/* White button with dark outline */
/* .btn-dark-outline {
  border-color: #000;
  color: #000;
} */

/* .btn-dark-outline:hover,
.btn-light-outline:hover {
  background-color: rgba(0, 0, 0, 0.06);
} */

/* Black button with white text  */
.btn-dark {
  /* background-color: #000; */
  background-color: var(--color-primary);
  color: #fff;
}

.btn-dark:hover {
  /* background-color: #333; */
  background-color: rgba(53, 116, 230, 0.7);
  /* background-color: grey; */
  color: #fff;
}

/* .btn-light-outline {
  border-color: #fff;
  color: #fff;
} */

/* Footer */
.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.social img {
  width: 35px;
  height: 35px;
}

.social a {
  text-decoration: none;
  margin-right: 20px;
}

.social {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}

/* 
 	5. Sections / Boxes 
*/

.box {
  margin-bottom: 30px;
}

.box-inner {
  max-width: 700px;
  margin: 0 auto;
}

.box-text {
  max-width: 500px;
  /* text-align: center; */
  /* justify-self: center; */
  padding: 20px 0;
  margin: 0 auto;
}

.box-text btn {
  margin-top: 20px;
}

.box-a img {
  /* left align text */
  /* text-align: start; */
  /* max-width: 500px; */
  margin-top: 50px;
}

.box-y .box-text {
  max-width: 500px;
}

/* Grid Styles */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* Main Axis ie horizonal here (just like flex, don't really need)*/
  justify-content: space-between;
  /* Cross Axis ie vertical here (just like flex) */
  align-items: center;
}

/* The first child is the image */
.grid-reversed :first-child {
  order: 2;
}

/* Section Utility Classes including: text-center, py-md, text-xl */
/* like coding with Tailwind */

/* Backgrounds Utility classes we can use around the site*/

.bg-primary {
  /* background-color: var(--color-primary); */
  /* background-color: lightgray ; */
  /* color: #000; */
  /* background-color: var(--color-light-grey); */
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: #000;
}

.bg-extra {
  background-color: var(--color-extra);
  color: #000;
}

/* Text Styling */
.text-center {
  text-align: center;
}

/* Text Sizes */

.text-xl {
  font-size: 30px;
  /* letter-spacing: 1px; */
  font-weight: 600;
  margin-bottom: 20px;
}

.text-lg {
  font-size: 20px;
  margin-bottom: 20px;
}

.text-md {
  font-size: 18px;
  margin-bottom: 20px;
}

.text-sm {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Padding */
.py-lg {
  padding: 40px 0;
}

.py-md {
  padding: 20px 0;
}

.py-sm {
  padding: 10px 0;
}

/* Hamburger Menu Icon */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  /* going to position things inside absolute */
  position: relative;
  background: none;
  /* buttons have a border by default */
  border: none;
  /* alwyas be on top */
  z-index: 10;
  transition: all 0.25s;
  /* don't want on large screens */
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  /* move along y ie down 7 */
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

/* goes from 3 lines to an X */
/* javascript toggles this class on btn element */
/* using click event on the btn */
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */

.mobile-menu {
  /* fix on right on the screen */
  position: fixed;
  top: 95px;
  right: 0;
  background-color: #fff;
  color: #000;
  width: 70%;
  /* fill entire screen */
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}

.mobile-menu ul {
  /* spread links apart */
  line-height: 3;
  border-bottom: #777 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu a:hover {
  color: var(--color-primary);
}

/* a bit of space under buttons */
.mobile-menu div {
  margin-top: 20px;
}

.mobile-menu div a {
  /* display: flex; */
  /* align-items: center; */

  /* find a store */
  font-size: 16px;
}

.hidden {
  /* dont want display: none */
  /* put it off screen so can slide back */
  transform: translateX(100%);
}

/* as don't want to scroll when hamburger menu is there */
.no-scroll {
  overflow: hidden;
}

/* 768 or less  */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  /* the image is always first, so make sure it is on top rather than reversed */
  .grid-reversed :first-child {
    order: 0;
  }

  .navbar .navbar-nav-left,
  .navbar .navbar-nav-right {
    display: none;
  }

  .navbar-brand img {
    /* height: 40px; */
    /* width: 40px; */
  }

  .footer {
    text-align: center;
  }
}

/* 960 or less */
@media (max-width: 960px) {
  .text-xl {
    font-size: 25px;
  }
}

/* 1440 or more */
@media (min-width: 1440px) {
  /* Make background boxes stop when get to 1440 */
  .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .divider {
    max-width: 90%;
  }
}
