@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

/* universal selector */
* {
	/* so when we add padding to an element it doesn't affect width */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html, body {
	font-family: 'Rubik', sans-serif;
	background: #000;
	color: #fff;
	line-height: 1.7;
	/* so no scroll bars on x axis ie horizontally */
	overflow-x: hidden ;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	/* grey hover */
	color: #ccc;
}

ul {
	/*  */
	list-style-type: none;
}