/* Using Poppins font from google */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/* BASE Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #111;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

.navigation {
  display: none;
}

.social-bar {
  display: none;
}

/* SECTION - text */
section {
  display: flex;
  flex-direction: column;
  /* 100 viewport heights */
  height: 100vh;
  /* vertical alignment */
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

section .home {
  flex-direction: row;
  margin-top: 0;
}

/* BUTTON */
.btn {
  /* so margins will work */
  display: inline-block;
  background: #f60f20;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
}
.btn:hover {
  transform: scale(0.98);
}

/* TOGGLE  */

/* LOGO (Creative Agency) */
/* old school - absolute position */
.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  /* so always on top as have an overlay */
  z-index: 10;
}

/* HOME */
.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.home-img {
  /* if relative it would come first (inline) */
  position: absolute;
  bottom: 0;
  right: 0;
  /* make it expand / contract with view size */
  height: 110%;
}

/* SERVICES PAGE */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.services .service {
  padding: 30px;
  /* background: #f4f4f4; */
}

.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h2 {
	font-size: 24px;
	font-weight: 500;
	margin-top: 20px;
	color: #1b206e;
}

.services .service .icon img {
  max-width: 100px;
}

/* CONTACT */

.contact {
	position: relative;
	width: 100%;
	margin-top:50px;
	display:flex;
	/* useful to push 2 to the edges and all width */
	justify-content: space-between;
	align-items: flex-start;
}

.contact-form {
	position: relative;
	background: #f9f9f9;
	/* width: calc(100%-400px); */
	padding: 60px 40px 20px;
}

.contact-form form {
	width: 100%;
}

.contact-form .row {
	width: 100%;
	display: flex;
}

.contact-form .input50 {
	width: 50%;
	margin: 0 10px;
}

.contact-form .input100 {
	width: 100%;
	margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
	position: relative;
	border: 1px solid rgba(0,0,0,0.2);
	color: #111;
	background: transparent;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: 16px;
	font-weight: 300px;
	margin: 10px 0;
	resize: none;
}

.contact-form .row textarea {
	height: 150px;
}

.contact-form .row input[type='submit'] {
	background: #1b206e;;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	border: 0;
	cursor: pointer;
}

.contact-info {
	width: 350px;
	background: #f9f9f9;
	padding: 60px 40px 20px;
}

.contact-info .info-box {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
	width: 20px;
	margin-right: 40px;
}