/* flexbox */
/* https://flexbox.help/ */
/* div {
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  /* margin: 0px; */
}

#header {
  background: #44accf;
  height: 50px;
}

#content {
  background: #b7d84b;
  width: 75%;
  height: 400px;
  float: left;
}

#navigation {
  background: #e2a741;
  width: 25%;
  height: 400px;
  float: right;
}

#footer {
  background: #ee3e64;
  width: 100%;
  height: 50px;
  clear:both;
}
